{
  "openapi": "3.0.3",
  "info": {
    "title": "MyAlice",
    "description": "MyAlice API to communicate with MyAlice dashboard and your internal system",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.myalice.ai"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/stable/open/whatsapp/send-template-message": {
      "post": {
        "description": "Sends a per-approved template message to WhatsApp",
        "requestBody": {
          "description": "WhatsApp Template to send",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendTemplate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SuccessSendTemplate"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauth"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SendTemplate": {
        "required": [
          "template_id",
          "channel_id",
          "customer_phone"
        ],
        "type": "object",
        "properties": {
          "template_id": {
            "description": "The Id of the Template, can be found in MyAlice Dashboard",
            "type": "string"
          },
          "channel_id": {
            "description": "The Id of the WhatsApp Channel, can be found in MyAlice Dashboard",
            "type": "string"
          },
          "customer_phone": {
            "description": "Customer phone with country code, e.g. +628123456789",
            "type": "string"
          },
          "attributes": {
            "description": "Key-pair values of the variables in the template",
            "type": "object",
            "properties": {
              "1": {
                "description": "Atttribute in the Template",
                "type": "string"
              }
            }
          },
          "attachment": {
            "description": "Key-pair values of the variables in the template",
            "type": "object",
            "properties": {
              "image|audio|video|document": {
                "description": "URL of the attachment, must be publicly accessible",
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "SuccessSendTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "project_id": {
            "type": "integer"
          },
          "timestamp": {
            "type": "string"
          },
          "function_name": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "extra": {
            "type": "object",
            "properties": {
              "timestamp": {
                "type": "string"
              },
              "project_id": {
                "type": "integer"
              },
              "platform_id": {
                "type": "integer"
              },
              "customer_id": {
                "type": "integer"
              },
              "customer_phone": {
                "type": "string"
              },
              "template_id": {
                "type": "string"
              },
              "template_name": {
                "type": "string"
              },
              "source": {
                "type": "string"
              },
              "success": {
                "type": "boolean"
              },
              "report": {
                "type": "object",
                "properties": {
                  "messaging_product": {
                    "type": "string"
                  },
                  "contacts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "input": {
                          "type": "string"
                        },
                        "wa_id": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "message_status": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "code",
          "success"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          }
        }
      },
      "Unauth": {
        "required": [
          "detail"
        ],
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Myalice-Api-Key"
      }
    }
  }
}